body{
  background-color: #F8EBE7;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #735668;
}

h1{
  font-weight: 400;

}
.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%

}
.skinTypeWrapper{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  }

.skinTypeWrapper img{
  width: 50%;
}

.descWrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px
}

